@model IEnumerable<CapaPresentacionAdmin.Models.Usuario>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-users mt-1 "></i>
        Listado Usuarios
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-success" id="btnNewUser">Nuevo Usuario</button>
    </div>
    <hr />
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restablecer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>   
                        @Html.DisplayFor(modelItem => item.Restablecer)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Activo)          
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdUsuario })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



<!-- Modal crear usuario-->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtApellido">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtmail" placeholder="name@example.com">
                    </div>
                    <div class="col-sm-6">
                        <label for="cboActivoLabel" class="form-label">Activo</label>
                        <select id="cboActivo" class="form-select">                            
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="SaveUser">Guardar</button>
            </div>
        </div>
    </div>
</div>



